body{
    background-color: rgb(222, 244, 236);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color:rgb(32, 11, 164);
    font-size: 30px;
    text-align: center;
    background-color: rgb(222, 244, 236);
}
form{
    background-color: rgb(222, 244, 235);
    background-image: url(garba5.jpg);
    text-shadow: 10px;
    text-align: center;
}
body{
    background-position: center;
    background-image: url(garba5.jpg);
    background-attachment: fixed;
    text-align: top;
}
a{
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 0.5px;
}
div{
    border: 5px solid black;
    background-size:contain;
    background-origin: border-box;
    width: 500px;
    height: 360px;
    font-style: arial;;
    margin: 10%;
    padding: 20;
}
p{
    text-align: center;
    color: rgb(0, 0, 0);
}
.psudo::first-line{
    color: rgb(17, 6, 63);
}
.gradient1{
    width: 200;
    height: 200;
    background: linear-gradient(45deg,rgb(4, 77, 42),red,yellow,orange);
}
.gradient2{
    width: 200;
    height: 200;
    background: linear-gradient(45deg ,rgb(45, 166, 75),rgb(150, 47, 47),rgb(81, 81, 12),orange);
}
.link{
color:#350b53 ;
}
.link.visited{
    color: purple;
}
.link:hover{
    color: bisque;
}
.link:active{
    color: green;
}
.panda{
    width: 300px;
    border: 2px solid purple;
    align-items: center;
}
.insta{
    text-align: center;
    color: crimson;
}
.submit{
    background-color: bisque;
    width: 200;
    height: 200;
    background: linear-gradient(45deg ,rgb(45, 166, 75),rgb(150, 47, 47),rgb(81, 81, 12),orange);
}
.unlist{
    display: inline;
}
span{
    display: block;
}
.ex1{
    color:white;
    display: flex;
    background-color: aquamarine;
    padding: 10px;
    flex-direction: row-reverse;
    gap: 10px;
}
ex1 > span{
    color: wheat;
    background-color: crimson;
    padding: 10px;
}
.transformation:hover{
transform: rotate(30deg);
}
.transformation1:hover{
    transform: scale(1.5);
}
.transformation2:hover{
    transform: translate(78px);
}
